<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>御泥坊官网</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/content.js"></script>
<link href="css/commen.css" rel="stylesheet">

</head>

<body>
<div class="white_bg">
	<div class="header">
    	<a class="cang" href=""><img src="images/shoucang.png"></a>
    	<a class="logo" href=""><img src="images/logo.png"></a>
        <ul class="nav">
        	<li><a class="current" href="index.html">首页</a></li>
            <li><a href="product/product.html">所有宝贝</a></li>
            <li><a href="product/product_meibai.html">美白嫩肤</a></li>
            <li><a href="product/product_bushui.html">补水保湿</a></li>
            <li><a href="product/product_kongyou.html">控油去痘</a></li>
            <li><a href="##">会员特权</a></li>
            <li><a href="##">母爱故事</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="banner_box">
	<span class="a_left"></span>
    <span class="a_right"></span>
	<ul>
    	<li><img src="images/banner_img00.png"></li>
        <li><img src="images/banner_img01.png"></li>
        <li><img src="images/banner_img02.png"></li>
        <li><img src="images/banner_img03.png"></li>
        <li><img src="images/banner_img04.png"></li>
        <li><img src="images/banner_img01.png"></li>
    </ul>
</div>
<div class="shop">
	<div class="ctrl">
    	<span class="current">白</span>
        <span>聚</span>
        <span>润</span>
        <span>黑</span>
        <span>水</span>
        <span>泥</span>
    </div>
	<dl>
    	<dt><a href="">面膜分类</a></dt>
        <dd class="d_title"><a href=""><img src="images/shop_img00_gray.png"></a></dd>
        <dd class="content"><a href="">了解面膜分类是美的第1步</a></dd>
    </dl>
    <dl>
    	<dt><a href="">日常护理分类</a></dt>
        <dd class="d_title"><a href=""><img src="images/shop_img01_gray.png"></a></dd>
        <dd class="content"><a href="">了解面膜分类是美的第1步</a></dd>
    </dl>
    <dl>
    	<dt><a href="">功效分类</a></dt>
        <dd class="d_title"><a href=""><img src="images/shop_img02_gray.png"></a></dd>
        <dd class="content"><a href="">了解面膜分类是美的第1步</a></dd>
    </dl>
    <dl>
    	<dt><a href="">肤质分类</a></dt>
        <dd class="d_title"><a href=""><img src="images/shop_img03_gray.png"></a></dd>
        <dd class="content"><a href="">了解面膜分类是美的第1步</a></dd>
    </dl>
    <div class="clearfix"></div>
</div>
<div class="footer_bg">
	<div class="footer"><a href="">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">官方商城</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">防伪查询</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">网站地图</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">人才招聘</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="">联系我们</a><br>
	Copyright 2011 御泥坊 湘icp备05019620号    友情链接：<a href="">快递查询</a>
<img class="logo_f" src="images/logo_footer.png">
<img class="script_img" src="images/script_img.png">
</div>
</div>
</body>
</html>
